<ion-header>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Forgot password</ion-card-title>
  </ion-card-header>
  <ion-card>
    <ion-card-content>
      <ion-item-group>
        <ion-item lines="full">
          <ion-input placeholder="Email"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-button expand="block">Submit</ion-button>
      <ion-item lines="none">
        <ion-label routerLink="../login" color="primary">Login</ion-label>
        <ion-label class="ion-text-end" routerLink="../register" color="primary">Register</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-footer>
    </ion-footer>
  </ion-card>
  
  

</ion-content>
