<ion-header>
  <ion-toolbar>
    <ion-card class="ion-no-margin">

      <ion-card-header color="primary">
        <ion-card-title>Total: 500$</ion-card-title>
        <ion-card-subtitle>
          {{ selectedDate | date }}
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-footer>
        <ion-row>
          <ion-col size="3">
            <ion-button fill="solid" (click)="setCurrentToTodayDate()">Today</ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="kalendar.present()" fill="solid">Date</ion-button>
            <ion-datetime-button datetime="datetime" hidden></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" #kalendar>
              <ng-template>
                <ion-datetime 
                  #selected
                  id="datetime"
                  presentation="date"
                  [value]="selectedDate.toISOString()"
                  color="primary"
                  [min]="2020-01-01"
                  [max]="todayDate.toISOString()"
                  (ionChange)="changeSelectedDate(selected.value)">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size="3">
            <ion-button fill="solid" (click)="selectedType.open()">Categ.</ion-button>
              <ion-item hidden #sm>
                <ion-select 
                  #selectedType
                  interface="popover">
                  <ion-select-option
                    *ngFor="let type of expenseTypes | keyvalue" 
                    value="{{type.value}}"
                    >{{type.value}}</ion-select-option>
                </ion-select>
              </ion-item>
            
          </ion-col>
          <ion-col size="3">
            <ion-button fill="solid">Filter</ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
  
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card *ngFor="let expense of expenses | category: selectedType.value">
    <!-- Toolbad -->
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon size="medium" name="help-circle-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon size="medium" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title slot="start" size="large">${{expense.amount}}</ion-title>
    </ion-toolbar>

    <ion-card-content>
      <ion-text>
        {{expense.description}}
      </ion-text>
        <ion-grid>
          <ion-row>
            <ion-col size="6">{{expense.type}}</ion-col>
            <ion-col size="6">{{expense.createdOn | date}}</ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
